<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpms.dao.ClassDAO" >

	<!-- 自定义结果返回集 -->
	<resultMap type="Tclass" id="classMap">
		<id property="classID" column="classID" javaType="java.lang.Integer" />
		<result property="className" column="className" javaType="java.lang.String" />
		<result property="status" column="status" javaType="java.lang.String" />
	</resultMap>
	
</mapper>